<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        #map {
            height: 100%;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        var map;
        var currentStartStations = [];
        var startMarkers = [];
        var i = 0;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),
                {
                    center: { lat: 52.226637920516765, lng: 21.006863639549124 },
                    zoom: 15
                });
            activeteStartListening();

            function createMarker(lat, lng, name, iconColor) {
                return marker = new google.maps.Marker({
                    position: { lat: lat, lng: lng },
                    map: map,
                    title: name,
                    icon: "http://maps.google.com/mapfiles/ms/icons/" + iconColor + "-dot.png"
                });
            }

            function activeteStartListening() {
                map.addListener('click', function fun(e) {
                    // map.removeEventListener('click', fun);
                    i++;
                    if (i === 1)
                        showStartStations(e.latLng.lat(), e.latLng.lng());
                });
            }

            function showStartStations(lat, lng) {
                $.ajax({
                    url: "http://localhost:50588/api/Path/" + lat + "/" + lng,
                    dataType: "json",
                    success: function (data) {

                        var currentLocationMarker = createMarker(lat, lng, "You are here", "red");
                        var startStationsMarkers = [];

                        data.forEach(function (station) {
                            var marker = createMarker(station.lat, station.lng, "qwe", "yellow");
                            startStationsMarkers.push(marker);

                            marker.addListener('click', function () {
                                startStationsMarkers.forEach(function (m) { m.setMap(null) });
                                startStationsMarkers.length = 0;

                                currentLocationMarker.setMap(null);

                                showChosenStation(station.uid, station.lat, station.lng);
                            });
                        });

                    }
                });
            }

            function showChosenStation(uid, lat, lng) {
                var chosenStationMarker = createMarker(lat, lng, "qwe", "green");
                map.addListener('click', function (e) {
                    chosenStationMarker.setMap(null);
                    showPath(uid, e.latLng.lat(), e.latLng.lng());
                });
            }

            function showPath(uid, lat, lng) {

                console.log("http://localhost:50588/api/Path/" + uid + "/" + lat + "/" + lng);
                $.ajax({
                    url: "http://localhost:50588/api/Path/" + uid + "/" + lat + "/" + lng,
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        var pathMarkers = [];
                        data.forEach(function (station, index, array) {
                            var color = "blue";
                            if (index === 0) color = "green";
                            if (index === array.length - 1) color = "red";

                            pathMarkers.push(createMarker(station.lat, station.lng, "qwe", color));
                        });

                        activeteStartListening();
                        map.addListener('click', function fun(e) {
                            //  removeEventListener('click', fun);
                            pathMarkers.forEach(function (m) { m.setMap(null) });
                            pathMarkers.length = 0;
                        });

                    }
                });
            }

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5xOvCNg3_pQsPgJ-Ies5cni5noiPeKPs&callback=initMap"
            async defer></script>
</body>
</html>