@media (max-width: 800px) {

    #map {
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #reset {
        position: fixed;
        right: 75px;
        top: 8px;
        background-color: white;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        font-size: 40px;
        padding: 3px;
    }

        #reset:hover {
            background-color: ghostwhite;
            border-color: lightslategrey;
            cursor: pointer;
        }

    #settingsIcon {
        position: fixed;
        right: 5px;
        top: 8px;
        background-color: white;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        font-size: 40px;
        padding: 3px;
        text-align: center;
    }

        #settingsIcon:hover {
            background-color: ghostwhite;
            border-color: lightslategrey;
            cursor: pointer;
        }

    #settings {
        position: fixed;
        right: 5px;
        top: 70px;
        width: 160px;
        background-color: white;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 3px;
        border-color: lightgray;
        border-width: 1px;
        border-style: solid;
        font-size: 20px;
        color: dimgray;
        vertical-align: middle;
    }

        #settings p {
            margin-top: 5px;
            margin-bottom: 2px;
        }

        #settings #hideStations {
            margin-bottom: 16px;
        }

    #instruction {
        position: fixed;
        left: 3px;
        top: 80px;
        display: table;
        top: 104px;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        position: fixed;
        left: 50%;
    }

        #instruction .menuBlock {
            width: 100%;
            background-color: white;
            padding-top: 14px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 5px;
            border-color: lightgray;
            border-width: 1px;
            border-style: solid;
            font-size: 20px;
            color: dimgray;
            vertical-align: middle;
        }

    .baseLast {
        display: table;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        background-color: #8BC980;
        position: fixed;
        left: 50%;
        bottom: 0px;
        width: 200px;
        padding-bottom: 10px;
    }

    div.base {
        margin-right: 20px;
        display: inline-block;
        height: 50px;
        position: relative;
        background-color: #8BC980;
    }

    .base p {
        display: none;
        margin-bottom: 0px;
    }

    .base:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid #8BC980;
        border-top: 32px solid transparent;
        border-bottom: 32px solid transparent;
    }

    .baseTextFromat {
        padding-top: 14px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: white;
    }

        .baseTextFromat p {
            font-size: 16px;
            color: dimgray;
        }

    .locked {
        opacity: 0.6;
    }

    .done {
        opacity: 0.6;
    }

    #destination {
        right: 0px;
        margin-right: 0px;
    }

        #destination:before {
            content: "";
            position: absolute;
            right: 0px;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 0px solid red;
            border-top: 0px solid transparent;
            border-bottom: 0px solid transparent;
        }
}
